In [1]:
import numpy as np

In [2]:
l = ['raja',1,2,3]
type(l)

list

In [3]:
np.array(l)

array(['raja', '1', '2', '3'], dtype='<U11')

In [4]:
type(np.array(l)) #ndarray - n dimensional array

numpy.ndarray

In [5]:
np.array([1,2,3,4.5])

array([1. , 2. , 3. , 4.5])

In [6]:
b = np.array([1,2,3,4.5])
b[1]

2.0

In [7]:
np.array([[1,2],[3,4]])

array([[1, 2],
       [3, 4]])

In [8]:
a = np.array([[1,2],[3,4]])
a[1][1]

4

In [9]:
c = np.array([1,2,3,4],ndmin=4)
c

array([[[[1, 2, 3, 4]]]])

In [10]:
c[0][0][0][1]

2

In [11]:
np.array([1,2,3,4])

array([1, 2, 3, 4])

In [12]:
np.asarray([1,2,3,4])

array([1, 2, 3, 4])

In [13]:
np.asanyarray([1,2,3,4])

array([1, 2, 3, 4])

In [14]:
np.mat([1,2,3,4,5])  #matrix are just 2D elements

matrix([[1, 2, 3, 4, 5]])

In [15]:
np.asanyarray(np.mat([1,2,3,4,5]))

matrix([[1, 2, 3, 4, 5]])

Matrix is just an array, it is a subclass of array

In [16]:
#this fun is for generating array in the required format
np.fromfunction(lambda i,j:i==j ,(3,3))

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [18]:
np.fromfunction(lambda i,j:i*j ,(4,4))

array([[0., 0., 0., 0.],
       [0., 1., 2., 3.],
       [0., 2., 4., 6.],
       [0., 3., 6., 9.]])

In [19]:
#numpy always return float, if we want int..
np.fromfunction(lambda i,j:i*j ,(4,4),dtype=int)

array([[0, 0, 0, 0],
       [0, 1, 2, 3],
       [0, 2, 4, 6],
       [0, 3, 6, 9]])

In [20]:
#numpy always return arrays, if we want into matrix we can change it
np.mat(np.fromfunction(lambda i,j:i*j ,(4,4),dtype=int))

matrix([[0, 0, 0, 0],
        [0, 1, 2, 3],
        [0, 2, 4, 6],
        [0, 3, 6, 9]])

In [22]:
np.fromfunction(lambda i,j,z:i*j*z ,(3,2,2),dtype=int)  #3array in the form of 2*2 array (3 dimensions)

array([[[0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1]],

       [[0, 0],
        [0, 2]]])

In [23]:
np.fromfunction(lambda i,j,z:i*j*z ,(4,2,2),dtype=int)  #4array in the form of 2*2 array (3 dimension)

array([[[0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1]],

       [[0, 0],
        [0, 2]],

       [[0, 0],
        [0, 3]]])

In [24]:
np.fromfunction(lambda i,j,z:i*j*z ,(4,2,2))  #4array in the form of 2*2 array (3 dimension)

array([[[0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 1.]],

       [[0., 0.],
        [0., 2.]],

       [[0., 0.],
        [0., 3.]]])

In [25]:
np.fromfunction(lambda i,j,z,p:i*j*z*p ,(4,3,2,2),dtype=int) #4dimension 3array in the form of 2*2

array([[[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 0]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 1]],

        [[0, 0],
         [0, 2]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 2]],

        [[0, 0],
         [0, 4]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 3]],

        [[0, 0],
         [0, 6]]]])

In [28]:
a = np.fromfunction(lambda i,j,z:i*j*z ,(4,3,2), dtype=int)  #4array in the form of 2*2 array (3 dimension)
a

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]],

       [[0, 0],
        [0, 3],
        [0, 6]]])

In [30]:
#to find dimension of the array
a.ndim

3

In [31]:
#size of the array    #we have totally 24 elements
a.size

24

In [32]:
#to find shape of the array
a.shape

(4, 3, 2)

In [33]:
#to find dataype of the array
a.dtype

dtype('int32')

In [34]:
import pandas as pd
a = np.fromfunction(lambda i,j,z:i*j*z ,(4,3,2), dtype=int)  
pd.DataFrame(a)

ValueError: Must pass 2-d input. shape=(4, 3, 2)

In [36]:
a = np.fromfunction(lambda i,j:i*j ,(3,3), dtype=int)  
pd.DataFrame(a)              #we can create a table because of 2D

   0  1  2
0  0  0  0
1  0  1  2
2  0  2  4

In [38]:
b = np.fromfunction(lambda i,j:i+j ,(100,20), dtype=int)  
pd.DataFrame(b)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
1,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
2,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21
3,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22
4,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114
96,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115
97,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116
98,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117
99,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118

In [39]:
#generating random data
np.random.rand(100,4)

array([[1.69842956e-01, 9.64860437e-01, 3.20386286e-01, 4.67767084e-01],
       [8.60382159e-01, 4.77800712e-03, 9.39810118e-01, 6.86263981e-01],
       [9.05138653e-01, 5.45890103e-01, 2.95123064e-01, 1.93398741e-01],
       [2.84920116e-01, 2.37389834e-01, 8.15151130e-01, 7.79865476e-01],
       [7.78980900e-01, 8.66638352e-01, 5.46875160e-01, 2.22305506e-01],
       [4.28853864e-01, 4.50442689e-01, 6.40999886e-01, 5.35840261e-01],
       [7.96897090e-01, 9.34330594e-01, 5.11143792e-01, 6.85001189e-02],
       [6.03325997e-01, 9.46146479e-01, 3.83285705e-01, 5.47216640e-01],
       [5.87395926e-01, 4.69291910e-01, 8.96016288e-01, 9.37830320e-01],
       [6.83285151e-01, 9.17439020e-01, 2.13712742e-01, 6.05016307e-03],
       [6.42114712e-01, 4.12633997e-02, 7.66949552e-01, 3.82940766e-01],
       [4.40345715e-01, 9.52185681e-01, 2.94433823e-01, 9.29862750e-01],
       [5.49976092e-01, 7.24401847e-01, 3.35793326e-01, 6.97699961e-01],
       [3.31199911e-01, 9.36881573e-01, 1.91255457e-01, 6.35130641e-01],
       [6.21962371e-01, 4.66930397e-02, 7.00530731e-01, 2.80817779e-01],
       [8.86848333e-01, 1.21239072e-01, 5.21869291e-01, 2.31385991e-01],
       [7.99919756e-01, 1.48886383e-01, 7.38892714e-01, 6.57175567e-02],
       [6.64069636e-01, 4.31322937e-01, 1.43394557e-01, 2.74535555e-01],
       [2.99159144e-01, 7.83421591e-01, 3.43798572e-02, 8.85814124e-01],
       [8.45075199e-01, 6.34552067e-01, 5.01947955e-01, 2.51572177e-02],
       [8.32898099e-01, 8.05624924e-01, 4.07347662e-01, 2.24268051e-01],
       [7.53684570e-01, 5.00178588e-01, 4.49506251e-01, 1.64372261e-01],
       [4.81478331e-01, 8.05507460e-01, 4.12416182e-01, 2.59175091e-01],
       [8.86063704e-01, 1.97354958e-01, 3.89433004e-01, 4.72291285e-01],
       [8.74254361e-02, 8.42407789e-01, 4.85436717e-01, 5.19409741e-01],
       [3.02746885e-01, 6.31010107e-01, 2.10918516e-01, 1.55030031e-01],
       [4.94696269e-01, 5.73107345e-01, 5.15966778e-01, 5.87279661e-01],
       [2.78653650e-01, 9.65697171e-01, 4.58241092e-01, 5.31467488e-01],
       [1.54983342e-01, 7.71919347e-01, 8.61884033e-01, 6.18679110e-01],
       [1.43222341e-01, 1.42302205e-03, 8.55217406e-01, 2.83637107e-01],
       [9.51806120e-01, 8.02744023e-01, 9.69736871e-02, 8.95434465e-01],
       [9.42570877e-01, 5.49736389e-01, 9.13364330e-01, 4.66019120e-01],
       [8.18214110e-03, 4.37461035e-01, 8.21074879e-01, 7.69299882e-01],
       [6.64533496e-01, 8.85573558e-01, 2.79340142e-01, 1.77560732e-01],
       [6.17776644e-01, 1.21185638e-01, 6.89478159e-01, 5.93210023e-01],
       [2.30486010e-01, 9.80704564e-01, 3.46977312e-01, 8.79732770e-01],
       [6.77944073e-01, 6.60856172e-01, 8.18339471e-01, 9.35357154e-01],
       [6.84066988e-01, 6.47518611e-01, 8.26107775e-01, 5.21614500e-01],
       [3.57184001e-01, 3.97963304e-01, 5.81170500e-01, 1.61121108e-01],
       [7.35667108e-01, 5.73747173e-01, 3.65565284e-01, 7.76172483e-01],
       [1.67822844e-01, 1.88752202e-01, 6.00666021e-01, 5.06072400e-01],
       [2.85447167e-02, 5.49884184e-02, 6.38188079e-01, 4.54810205e-01],
       [9.99105927e-01, 9.23180182e-01, 1.68525129e-01, 9.72924283e-01],
       [7.15417548e-01, 1.93041586e-01, 6.43079842e-01, 8.87676192e-01],
       [3.70428445e-01, 1.29939426e-01, 5.39925367e-01, 6.49927077e-02],
       [4.79943364e-01, 5.13058706e-01, 5.51031128e-01, 1.27845610e-01],
       [7.70877820e-01, 5.62540584e-02, 2.29378662e-02, 2.55602958e-04],
       [8.59806422e-01, 2.66521239e-01, 4.25752258e-01, 5.04036327e-01],
       [2.56797981e-01, 3.49148521e-01, 2.66066772e-01, 8.63125795e-01],
       [5.36357304e-01, 9.14643981e-01, 4.31955256e-01, 5.19268957e-01],
       [7.05536923e-01, 6.09887709e-01, 4.35145578e-01, 6.67035849e-01],
       [2.94077868e-01, 9.01305792e-01, 1.60216407e-01, 2.37911673e-01],
       [4.54008816e-01, 1.71084960e-01, 8.57881162e-01, 7.29226818e-01],
       [8.02920235e-02, 7.63176365e-01, 5.29581579e-01, 2.37553828e-02],
       [1.73142054e-01, 4.61629182e-01, 7.82267572e-01, 4.18523868e-01],
       [1.45064670e-01, 2.04450861e-01, 3.21237054e-01, 1.95541503e-01],
       [4.97959945e-01, 9.60565193e-01, 8.18910591e-01, 3.74373706e-01],
       [8.33742511e-01, 4.97320878e-01, 2.59422430e-01, 6.63261287e-01],
       [2.66825066e-01, 3.58653093e-02, 7.46948423e-01, 2.46728781e-01],
       [2.55116507e-01, 5.54103607e-01, 4.58126685e-01, 5.81919104e-01],
       [8.12003739e-01, 1.17862586e-01, 4.11428779e-01, 1.79590565e-01],
       [8.33757151e-01, 5.59747663e-01, 9.25222530e-01, 8.24996567e-01],
       [7.52167505e-01, 5.30752021e-01, 5.86033761e-01, 8.80867195e-02],
       [7.43429964e-02, 9.85751064e-01, 3.75569532e-01, 5.85321980e-01],
       [9.42893107e-01, 5.21277482e-01, 9.47355266e-01, 6.82260792e-01],
       [9.02173327e-01, 8.89075261e-01, 9.45264555e-01, 4.42604228e-01],
       [8.56159793e-01, 8.72848547e-01, 3.45408578e-01, 4.03164860e-01],
       [4.06846462e-01, 4.06403710e-01, 4.85605395e-01, 4.20416723e-01],
       [4.37003818e-01, 6.11742942e-01, 6.72829441e-01, 7.06957363e-01],
       [6.07304537e-01, 2.07308809e-01, 6.34154763e-02, 3.60167451e-01],
       [6.20353702e-01, 5.18183049e-01, 9.41672794e-01, 8.73893572e-01],
       [4.57896197e-02, 6.46828093e-01, 4.44494305e-01, 1.12347364e-02],
       [6.86995919e-02, 7.40545862e-01, 7.31040775e-01, 2.05338711e-01],
       [3.43969169e-01, 2.33804175e-02, 9.99427369e-01, 5.20253484e-01],
       [6.84280255e-01, 8.08083636e-01, 1.24078580e-02, 6.78631175e-01],
       [2.24984858e-01, 2.99711784e-01, 4.23807203e-01, 8.62131944e-01],
       [3.50092652e-01, 2.71135247e-01, 4.24583255e-01, 8.58078024e-01],
       [8.74473878e-01, 6.80432200e-01, 6.14769548e-01, 7.39245566e-01],
       [4.33817878e-01, 5.72431726e-01, 1.16582862e-01, 8.26808972e-01],
       [1.95489542e-01, 1.96951274e-01, 6.25258872e-01, 3.69955451e-01],
       [6.84595027e-04, 3.84142815e-01, 4.33388109e-01, 3.88785572e-01],
       [3.09171438e-01, 1.06124940e-01, 6.70931499e-01, 4.06444309e-01],
       [8.49464871e-01, 3.72800382e-01, 3.62630411e-01, 9.87783988e-01],
       [8.27999192e-01, 7.49220536e-01, 9.47058692e-01, 8.69254457e-02],
       [8.15747050e-01, 4.35981558e-01, 3.17995369e-01, 2.80007348e-02],
       [6.47725707e-01, 2.43115233e-02, 1.43187228e-01, 4.72835828e-01],
       [7.99477669e-01, 5.98038004e-01, 8.60709505e-01, 8.46979719e-01],
       [7.03078089e-01, 1.24148831e-01, 1.75904255e-01, 2.78149660e-01],
       [5.22367502e-02, 9.30640135e-01, 4.63404431e-01, 7.48596796e-01],
       [7.62350676e-01, 3.01810857e-01, 9.56026144e-01, 8.58895935e-01],
       [9.67337031e-01, 2.50281038e-01, 7.01556599e-01, 1.04708947e-01],
       [6.93035157e-01, 6.63711064e-01, 5.47724765e-01, 3.24949752e-01],
       [5.24013061e-01, 2.89416653e-01, 8.73169148e-02, 6.38920651e-01],
       [6.48015072e-01, 9.28244331e-01, 2.21236955e-01, 6.25885487e-01],
       [8.98230260e-01, 8.70278666e-01, 2.25527338e-01, 6.13905467e-01],
       [2.61767607e-01, 1.47056515e-01, 9.10525625e-01, 1.68380942e-01],
       [6.64205303e-01, 6.12955998e-01, 2.98729897e-01, 6.60622883e-01],
       [2.76562812e-01, 6.01153295e-01, 5.42980130e-01, 4.88508619e-01],
       [5.42459428e-01, 1.79801692e-01, 5.14332971e-01, 2.25826364e-01],
       [2.09178743e-01, 2.40703647e-02, 2.75753594e-01, 7.69465083e-03]])

In [43]:
np.random.randint(4,50) #this fun generate random int between 4 and 50

11

In [47]:
np.random.randn(4,5) #this fun will generate random numbers which follow normal distribution
                     #by adding all this mean will be zero and SD will be 1

array([[ 1.76188582, -1.17403608,  0.48329741,  1.08524063, -0.48035718],
       [-0.93212409, -1.0009703 , -1.58598211,  0.66279817,  0.8616647 ],
       [ 1.11652646,  1.15243771,  2.32243418, -0.1234997 ,  0.76179244],
       [ 0.35380302, -0.74106382,  2.39483435,  0.2592886 ,  0.87123123]])

In [48]:
#create a dataframe which follows normal distributions
pd.DataFrame(np.random.randn(4,5))

          0         1         2         3         4
0 -1.423412 -1.643758  1.640673 -0.728990 -0.541121
1 -0.676371  0.370314 -0.337789  0.605281 -1.359733
2  1.686511 -0.813056 -0.073429  0.357634  0.462792
3  0.536773  1.108667  1.288147 -0.163282 -1.049258

In [57]:
#reshape the dimension of array 
d = np.fromfunction(lambda i,j,z:i*j*z ,(4,3,2), dtype=int) #3D to 2D
d.reshape(8,3)

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [1, 0, 2],
       [0, 0, 0],
       [2, 0, 4],
       [0, 0, 0],
       [3, 0, 6]])

In [58]:
#reshape the dimension of array
d = np.fromfunction(lambda i,j,z:i*j*z ,(4,3,2), dtype=int) #3D to 4D
d.reshape(2,2,3,2)

array([[[[0, 0],
         [0, 0],
         [0, 0]],

        [[0, 0],
         [0, 1],
         [0, 2]]],


       [[[0, 0],
         [0, 2],
         [0, 4]],

        [[0, 0],
         [0, 3],
         [0, 6]]]])

In [60]:
#reshape the dimension of array
d = np.fromfunction(lambda i,j,z:i*j*z ,(4,3,2), dtype=int) #3D to 4D
d.reshape(4,-1) #here -1 automaticaly caluclulate the suitable number to get the elemnt(4,6)

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 2],
       [0, 0, 0, 2, 0, 4],
       [0, 0, 0, 3, 0, 6]])

In [61]:
#reshape the dimension of array
d = np.fromfunction(lambda i,j,z:i*j*z ,(4,3,2), dtype=int) #3D to 4D
d.reshape(4,-134567) #any negative number here automaticaly caluclulate the suitable number to get the elemnt(4,6)notonly-1

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 2],
       [0, 0, 0, 2, 0, 4],
       [0, 0, 0, 3, 0, 6]])

In [63]:
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [64]:
list(range(4,10,0.2)) #range works only int not float

TypeError: 'float' object cannot be interpreted as an integer

In [68]:
#same like range but it works in float also
np.arange(4,10.7,0.2)

array([ 4. ,  4.2,  4.4,  4.6,  4.8,  5. ,  5.2,  5.4,  5.6,  5.8,  6. ,
        6.2,  6.4,  6.6,  6.8,  7. ,  7.2,  7.4,  7.6,  7.8,  8. ,  8.2,
        8.4,  8.6,  8.8,  9. ,  9.2,  9.4,  9.6,  9.8, 10. , 10.2, 10.4,
       10.6])

In [69]:
a = np.arange(4,10.7,0.2)
a[2:10]

array([4.4, 4.6, 4.8, 5. , 5.2, 5.4, 5.6, 5.8])

In [71]:
#extract value greater than 0.5
arr = np.random.rand(4,4)
arr

array([[0.39244404, 0.2865547 , 0.48963868, 0.82357841],
       [0.10898029, 0.53065975, 0.85614164, 0.00541956],
       [0.23775303, 0.95787775, 0.25195957, 0.36516494],
       [0.31222206, 0.06362165, 0.27242941, 0.46578101]])

In [74]:
arr[arr<0.5]   #same like pandas we can filter it

array([0.39244404, 0.2865547 , 0.48963868, 0.10898029, 0.00541956,
       0.23775303, 0.25195957, 0.36516494, 0.31222206, 0.06362165,
       0.27242941, 0.46578101])

In [75]:
#filtering specific data
arr

array([[0.39244404, 0.2865547 , 0.48963868, 0.82357841],
       [0.10898029, 0.53065975, 0.85614164, 0.00541956],
       [0.23775303, 0.95787775, 0.25195957, 0.36516494],
       [0.31222206, 0.06362165, 0.27242941, 0.46578101]])

In [76]:
len(arr)

4

In [79]:
arr[[1,2],[2]]    #[1,2] for row, [2]for columns

array([0.85614164, 0.25195957])

In [80]:
arr = np.random.rand(8,4)
arr

array([[0.21028088, 0.57059672, 0.18100268, 0.37838241],
       [0.02459825, 0.30690931, 0.1510157 , 0.32143501],
       [0.82133074, 0.40984543, 0.51476407, 0.58846369],
       [0.44954736, 0.03593264, 0.17022617, 0.37078466],
       [0.11576518, 0.51397483, 0.43586387, 0.24065605],
       [0.0611074 , 0.58712259, 0.08843287, 0.67055864],
       [0.66056423, 0.80624093, 0.42182043, 0.03152249],
       [0.97576126, 0.47843897, 0.15521601, 0.03932978]])

In [83]:
a2 = arr[2:7,0:2]  #row index and column index
a2

array([[0.82133074, 0.40984543],
       [0.44954736, 0.03593264],
       [0.11576518, 0.51397483],
       [0.0611074 , 0.58712259],
       [0.66056423, 0.80624093]])

In [85]:
a2[0][0] = 100  #overriting
a2

array([[1.00000000e+02, 4.09845430e-01],
       [4.49547362e-01, 3.59326356e-02],
       [1.15765177e-01, 5.13974834e-01],
       [6.11074046e-02, 5.87122587e-01],
       [6.60564228e-01, 8.06240935e-01]])

In [89]:
a =np.array([[3,4],[2,3]])
b = np.array([[4,4],[2,3]])

In [90]:
a@b #matrix multiplication

array([[20, 24],
       [14, 17]])

In [91]:
a*b  #elemnent multiplication

array([[12, 16],
       [ 4,  9]])

In [92]:
m = a@b
m/0    #here won't give div by zero error, it gives infinity

C:\Users\Rengarajan\AppData\Local\Temp\ipykernel_6196\3591685889.py:2: RuntimeWarning: divide by zero encountered in divide
  m/0

array([[inf, inf],
       [inf, inf]])